/* ===== reset ===== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/1.5 "Arial";color:#666;word-wrap:break-word;word-break:break-all;background:#f0f0f0;}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter,nav,output,progress,section,time{margin:0;padding:0;display:block;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var,i,b{font-style:normal;}
pre,code,kbd,samp,tt{font-family:"courier new",courier,monospace;font-size:100%;line-height:100%;}
ol,ul{list-style:none;}
caption,th{text-align:left;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
button,input,select,textarea{font-size:100%;}
a{text-decoration:none;color:#666;cursor: pointer;}
a:hover{text-decoration:none;}
a.underline{text-decoration:underline}
input,button{overflow:visible;}
input,textarea{padding:0px;}
img{vertical-align:top;border:none}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}

.fl{float:left;}
.fr{float:right;}
.tr{text-align: right;}
.tc{text-align: center;}

.p-tb-10{padding:10px 0;}
.p-tb-20{padding:20px 0;}

.col_ba1a16{color:#ba1a16;}
.col_ce0021{color:#ff0000;}

.f_size12{font-size: 12px;}
.f_size14{font-size: 14px;}
.f_size16{font-size: 16px;}
.f_size24{font-size: 24px;}

.mt20{margin-top:20px !important}
.mb20{margin-bottom: 20px}
.mt50{margin-top: 50px}
.mb50{margin-bottom: 50px}
.pb50{padding-bottom: 50px}
.mlr50{margin-left:50px;margin-right:50px}
.mlr10{margin-left: 10px;margin-right: 10px}
.fourEm{padding-left: 4em}
.twoEm{padding-left: 2em;}

.clr_blue,.clr_blue a,a.clr_blue{color:#3e98f0}

/*页面宽度*/
.container{overflow: hidden;width: 1100px;margin: 0 auto;margin-top: 10px;}

/*头部条栏*/
.site-nav{height: 32px;border-bottom: 1px solid #e9e9e9;line-height: 32px;font-size:0;background:#f5f5f5;font-family:"";position: relative;z-index:999}
.site-nav:after {clear: both;content: "";display: table;}

/* 头部登录 */
.login{float: right;font-size:12px;width:620px;text-align: right;color:#444;}
.login input{vertical-align:middle;}
.login .top_login1 label{width:47px;display:inline-block;padding-right:10px;background: url(../images/topbg.png) no-repeat right;margin-right:5px;position: relative;text-align: center;cursor: pointer;}
.login .top_login1 label .userlogin{display:none;width:61px;border:1px solid #ddd;position: absolute;top:25px;left:0;background:#fff;z-index:999}
.login .top_login1 label .userlogin a{display:block;height:27px;line-height: 27px;}
.login .top_login1 label .userlogin a.cur{color:#f26c4f;}
.login .top_login1 input,.top_login2 input{width:82px;height:16px;padding:0 5px;line-height:16px;border:1px solid #dfdfdf;background:#fff;}
.login .top_login4 button{width:40px;height:20px;line-height:20px;vertical-align: middle;border:0;background:url(../images/top_login.png) no-repeat left top;cursor: pointer;margin-right:2px;margin-left:2px;}
.login .top_login4 a{color:#2f8bcd}
.login .site-nav-r span{display:inline-block;}
.login .site-nav a{color:#696969}
.login .site-nav a.col_1478aa{color:#1478aa;}
.login .top_login4 .top_weixin{width:15px;height:18px;background:url(../images/top_weixin.png) no-repeat left;display:inline-block;*display:inline;zoom: 1;vertical-align: text-bottom;}

/* header */
.head-nav{width:100%;height:65px;line-height:65px;padding:8px 0px;background: #fff;border-bottom:1px solid #e4e4e4;-moz-box-shadow:0 2px 3px #e4e4e4;box-shadow:0 2px 3px #e4e4e4;position: relative;*z-index:99;}
.head-nav-l{width:450px;float: left;}
.head-nav-r{width:550px;float: right;text-align:right;}
.head-nav-r a{display:inline-block;*display:inline;zoom:1;font-size: 14px;color: #7c7c7d;padding-left:20px;}
.head-nav-r .weixin{position: relative;}
.head-nav-r .weixin .evm{width:164px;height:29px;line-height:20px;font-size:12px;font-family:"Microsoft Yahei";text-align:center;padding-top:170px;background: url(../images/2code.png) no-repeat center bottom;position: absolute;top:42px;right:-4px;z-index:99;display:none;}
.head-nav-r .weixin:hover .evm{display: block;}

/* main */
.main{margin-top:80px;padding:50px 0px;border:1px solid #dbdadb;background: #fff;position: relative;}
.main .find_pass{padding-bottom:100px;}
.main .find_pass .input-div{padding-top:30px;}
.prompt{width:274px;height:60px;line-height:60px;text-align:center;padding:0px 10px;position: absolute;top:-81px;left:50%;margin-left:-147px;font-size:14px;color:#fff;background:#108ee9;border-bottom-left-radius:5px;border-bottom-right-radius:5px;box-shadow:0 2px 3px #e4e4e4;-moz-box-shadow:0 2px 3px #e4e4e4;}
.main-left{padding-left:130px;padding-bottom:20px;width:565px;border-right:1px dashed #e6e6e6;float: left;}
.main-left h2{font-family:"Microsoft Yahei";font-size: 16px;color:#333;font-weight: bold;height:36px;line-height:36px;}
.main-left .input-div{padding-top:20px;}
.main-left .input-div .font14{font-size:14px;color:#333;}
.main-left .input-text{color:#333;width:298px;margin-right:12px;border:1px solid #cdcccc;position: relative;z-index:1;height:40px;overflow: hidden;float: left;}
.main-left .input-text-error{border:1px solid #ec5f48;color:#ff5656;-moz-box-shadow: 0px 0px 3px #ec5f48;-webkit-box-shadow: 0px 0px 3px #ec5f48;box-shadow: 0px 0px 3px #ec5f48;}
.main-left .input-text:hover,.main-left .input-text-cur{border:1px solid #1ba3e7;-moz-box-shadow: 0px 0px 3px #1ba3e7;-webkit-box-shadow: 0px 0px 3px #1ba3e7;box-shadow: 0px 0px 3px #1ba3e7;}
.main-left .input-text .input{border:1px solid #f3f3f3;font-size:14px;width:276px;height:38px;*margin-top:-1px;line-height:38px;padding:0 10px;position:relative;z-index:3;background:none;}
.main-left .input-text span{position: absolute;top:0px;left:0;height:40px;line-height:40px;padding:0 10px;z-index:2;font-size:14px;color:#999;}
.main-left .input-radio{color:#666;text-align: center;width:137px;height:36px;line-height:36px;float:left;background:url(../images/radio_bg.png) no-repeat center;margin-right:12px;border:1px solid #cdcccc;cursor: pointer;}
.main-left .input-radio:hover{border:1px solid #1ba3e7;-moz-box-shadow: 0px 0px 3px #1ba3e7;-webkit-box-shadow: 0px 0px 3px #1ba3e7;box-shadow: 0px 0px 3px #1ba3e7;color:#108ee9;}
.main-left .radio-cur{background:url(../images/radio_cur.png) no-repeat center;border:1px solid #108ee9;color:#108ee9;}
.main-left .mr20{margin-right:21px;}
.main-left .point{color:#108ee9;width:250px;height:42px;line-height:40px;float:left;display:none;}
.main-left .point-ico1{width:227px;padding-left:23px;background: url(../images/yes.png) no-repeat left;}
.main-left .point-ico2{width:227px;padding-left:23px;background: url(../images/no.png) no-repeat left;color:#fa3f3f}
.main-left .input-div .submit{width:300px;height:44px;line-height:44px;font-size:16px;font-weight: bold;color:#fff;border:0px;background: #108ee9;font-family:"Microsoft Yahei";}
.main-left .input-yzm{width:188px;}
.main-left .input-yzm .input{width:166px;}
.main-left .yanzm{width:86px;text-align: center;float: left;padding-left:10px;padding-right:12px;}
.main-left .yanzm a{color:#368ccc;text-decoration:underline;display: block;}
.main-right{width:300px;padding-top:56px;float: left}
.main-right .main-weixin{padding-bottom:35px;}
.main-right .main-weixin a{display: block;background: url(../images/weixin.png) no-repeat 0 0;width:57px;height:57px;margin:0 auto;}
.main-right .main-weixin a:hover{background-position:-62px 0;}
.main-right .main-weixin span{display:block;height:45px;line-height:45px;width:221px;background: url(../images/main_weixinbg.png) no-repeat center;font-size:14px;color:#666;text-align: center;margin:0 auto;}
.main-right .main-gosign{padding-top:20px;color:#666;font-size:14px;text-align: center;}
.main-right .main-gosign a{height:30px;line-height:30px;display:block;color:#108ee9;}

/* login */
.login_check{width:300px;text-align:right;font-size:14px;}
.login_check span{float: left;width:150px;text-align:left;}
.login_check span i{display:inline-block;width:16px;height:16px;background: url(../images/check.png) no-repeat;vertical-align:middle;margin-right:5px;}
.login_check span i.cur{background: url(../images/checked.png) no-repeat;}

/* password_find_skip */
.success{font-size:14px;color:#333;line-height:200%}
.success_top{width:614px;padding-left:245px;padding-top:53px;background: url(../images/success.png) no-repeat 205px 55px ;margin:0 auto;}
.success_top a{font-size:18px;color:#0382dd;}
.success_top strong{padding-top:50px;display: block;}
.success_ul{width:614px;padding-left:245px;margin:0 auto;border-top:1px solid #efefef;padding-top:12px;margin-top:12px;}
.success_ul li{padding-left:15px;background: url(../images/e_ico.png) no-repeat left;}
.success_ul li a{color:#0382dd;text-decoration: underline;}

/* email */
.email{width:618px;border:1px solid #e4e4e4;margin:50px auto;color:#424141;}
.email a{color:#358ece}
.email_top{height:60px;background: #f8f8f8;padding-left:30px;border:1px solid #fff;}
.email_top a{display:block;padding:13px 0;}
.email_main{padding:30px 30px 0;font-size:14px;}
.email_main p{padding-bottom:30px;}
.email_footer{padding:30px 30px 12px;}
.email_footer span{display:block;padding-bottom:20px;line-height:180%;}
.email_footer p{padding-top:15px;border-top:1px dashed #d2d2d2;color:#737373}

/* footer */
.footer{padding:40px 0px 20px;}
.footer-left{float: left;width:700px;line-height:24px;}
.footer-left ul li{padding-right:15px;display:inline-block;*display:inline;zoom:1;}
.footer-left ul li a{color:#888;font-size:14px;}
.footer-left span{display:block;color:#888;padding-top:24px;}
.footer-right{float:right;width:300px;text-align:right;color:#888;}
.footer-right .ftop{font-weight:bold;font-size:18px;color:#7f7f7f;}
.footer-right .ftop span{font-weight:normal;}
.fcen span{display: inline-block;width:80px;height:16px;line-height:16px;margin-left:5px;margin-top:3px;color:#fff;background:#c3c3c3;border-radius:5px;text-align:center;}

a.con_btn{
    display: inline-block;
    padding: 2px 15px;
    background: #108ee9;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
a.con_btn:hover{
    background: #40a5ed;
}

.personPic em{color: #108ee9}


/**pageNav**/
.pageNav{font-size: 12px;text-align: center;margin: 20px 0;}
.pageNav .wrap{display: inline-block;*display: inline;*zoom:1;overflow:hidden;}
.pageNav a,.pageNav span{margin-right:5px;float:left;border:#ddd solid 1px;padding:0 10px;height:30px;line-height:30px;color:#333}
.pageNav a:hover,.pageNav  a.on{background:#108ee9;border-color:#108ee9;color:#fff;text-decoration:none}
.pageNav .all{border:0 none}