#reSearchForm .search_form{
	border: none;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 15px 0;
	background-color: #fff;
}
.search_form {
	height: auto;
}
.flight_attribute{
	float: left;
	margin: 2px 5px 0 20px;
}
.type_item .ico_calendar{
	background: url(img/sprites_v2.png) no-repeat -60px -40px;
}
.flight_attribute .first_line{
	font-size: 0;
}

.flight_attribute .type_item{
	position:relative;
	display: inline-block;
	font-size: 12px;
	margin-right: 20px;
}

.flight_attribute .type_item .ico_search_type{
	position: absolute;
	top: 8px;
	left: 6px;
	z-index: 2;
}

.ico_search_type{
	display: inline-block;
	width: 20px;
	height: 30px;
	background: url(img/sprites_v2.png);
}
.ico_search_dcity{
	background-position:  0 -33px;
}
.ico_search_acity{
	background-position: -30px -34px;
}
.flight_attribute input{
	padding:0 5px 0 32px;
	line-height:42px;
	height: 42px;
	width: 200px;
}
.search_tools .btn_search{
	color: #fff;
	background-color: #108ee9;
	font-size: 14px;
	margin: 8px 15px 0 0;
	line-height: 34px;
	height: 34px;
	padding: 0;
	width: 92px;
	text-align: center;
	border: 0 none;
	box-shadow: none;
    border-radius: 4px;
    webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search_tools .btn_search:hover{
	background-color: #108ee9;
	border-color: #108ee9;
}

.goCity{
	background-color: #fff;
	margin: 10px auto;
	padding: 5px 0;
}

.goCityList{
	margin: 5px 10px;
}

.goCity a{
	background-color: #fff;
	font-size: 12px;
	margin-left: 10px;
	line-height: 34px;
	height: 34px;
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: none;
    border-radius: 4px;
    webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);	
}
/*搜索左侧条件*/
.searchLeft{
	float: left;
	padding: 15px;
	margin-right: 15px;
	width: 230px;
	background-color: #fff;
}
.budget_filter{
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #f5f5f5;
}
.budget_filter:last-child{
	border-bottom: 0;
}
.price_range {
	position: relative;
	width: 225px;
	height: 5px;
	background: #dbdbdb;
	border: 1px solid #d2d2d2;
	border-radius: 3px
}

.price_range .range {
	position: relative;
	width: 237px;
	height: 7px;
	margin: -1px 0 0 -1px;
	background: #69acf8;
	border-radius: 3px
}

.price_range .ico_range {
	position: absolute;
	top: -8.5px;
	cursor: pointer;
}
.filter_title{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.budget{
	margin-top: 5px;
}
.filterGo{
	border: 0;
}
.filterGo label{
	position: relative;
	margin-right: 15px;
}
.filterGo .radio , .filterGo .checkbox{
	width: 16px;
	height: 16px;
	margin-right: 5px;
	opacity: 0;
}
.filterGo .ico_radio{
	position: absolute;
	left: 0;
	top: -1px;
	width: 16px;
	height: 16px;
	background-position: -270px -40px;
}
.filterGo .ico_checkbox{
	position: absolute;
	left: 0;
	top: -1px;
	width: 16px;
	height: 16px;
	background-position: -60px -377px;
}
.filterGo .cur .ico_radio, .filterGo .ico_radio:hover{
	background-position: -240px -40px;
}

.filterGo .cur .ico_checkbox, .filterGo .ico_checkbox:hover{
	background-position: -90px -377px;
}

.filterGo .cur, .filterGo a:hover, .filterGo label:hover{
	color: #4da0ff;
}

.find_tit, .his_list .ico_arrow, .ico_topic{

	background: url(img/sprites_v2.png) no-repeat;
}

.budget_filter .type_item{
	position:relative;
	display: inline-block;
	font-size: 12px;
	margin-right: 20px;
}

.budget_filter .type_item .ico_search_type{
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 2;
}

.budget_filter input[type="text"]{
	padding:0 5px 0 32px;
	line-height:30px;
	height: 30px;
	width: 170px;
}
/*搜索右侧结果*/
.searchR_content{
	float: right;
	width: 825px;
	background-color: #fff;
	position: relative;
	min-height: 200px;
}

.searchR_part{
}
.searchR_part .searchR_num{
	float: left;
	padding: 10px;
}

.searchR_part .searchR_num em{
	padding: 0 5px;
	font-size: 14px;
	color: #108ee9;
}
.dropDown{
	position:relative;
	top: 7px;
	right: 15px;
	z-index:3;
	float:right;
	padding:0 0 0 10px;
	width:160px;
	height:26px;
	line-height:26px;
	background:#fff;
	border:#ddd solid 1px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px; 
	border-radius:2px;
	cursor:pointer;
}
.dropDown .labelN{
	position: absolute;
	left:-40px;
	top: 0;
	line-height: 27px;
}
.dropDown .putIn{
	float:left;
	width:140px;
	border:0;
	height:26px;
	line-height:26px;
	color:#666;
	cursor: default;
}
.dropDown .dropBtn,.openBtn .open .arrow{
	display:inline-block;
	margin-top:5px;
	width:16px;
	height:16px;
	vertical-align:middle;
	background:url(img/icon_search_select.png) no-repeat 20px -199px;
}
.dropDown .dropBtn{
	width: 170px;
	background-position: 148px -195px;
	position: absolute;
	left:0;
	top: 0;
}
.dropDown .dropList{
	display:none;
	position:absolute;
	top:26px;
	left:-1px;
	width:170px;
	background:#fff;
	border:#ddd solid 1px;
}
.dropDown .dropList li{
	padding:0 10px;
}
.dropDown .dropList li:hover{
	background:#108ee9;
	color:#fff
}
.flist_box {
	border-top: 1px solid #ccc;
	padding: 15px 0;
	overflow: hidden;
}
.hk_person{
	width: 150px;
	margin: 5px 0 0 15px;
}
.hk_person, .hk_import, .SelectThis{
	vertical-align: middle;
	float: left;
}

.hk_import{
	overflow: hidden;
	margin-right: 30px;
}

.hk_import .left{
	vertical-align: middle;
	float: left;
	line-height: 60px;
	width: 110px;
}
.hk_import .center{
	vertical-align: middle;
	text-align: center;
	float: left;
}
.hk_import .right{
	float: left;
	width: 120px;
	padding-left: 30px;
	margin-top: 5px;
}
.flist_box .flist_info, .flist_box .flist_minfo{
	width: 100%;
}

.flist_box .flist_info td{
	height: 95px;
	line-height: 25px;
}
.hk_part1, .hk_part2{
	padding-left: 20px;
}
.hk_part1 .personLogo{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
	border-radius: 50%;

}
.hk_part1 div{
	line-height: 20px;
}
.flist_box .flist_info .f_logo{
	margin: 5px 4px 0 0;
	float: left;
}

.link_borbot{
	color: #06C;
}
.morehidden110{
	width: 100px;
	line-height: 15px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ta_l{
	text-align: left;
}
.ta_r{
	text-align: right;
}
.d_passBy{
	display: block;
	width: 50px;
	height: 18px;
	color: #108ee9;
	font-size: 12px;
	margin-top: 2px;
}
.theFlight_time{
	margin-top: 5px;
}

.offarrow{
	width: 100px;
	height: 16px;
	background: url(img/sprites_v2.png) no-repeat 10px -410px;
}

.getarrow{
	width: 100px;
	height: 16px;
	background: url(img/sprites_v2.png) no-repeat -85px -410px;
}

.red{
	color: #fa3f3f;
}

.SelectThis{
	display: inline-block;
	color: #fff;
	background-color: #108ee9;
	font-size: 14px;
	margin: 10px 15px 0 0;
	line-height: 34px;
	height: 34px;
	padding: 0;
	width: 92px;
	text-align: center;
	border: 0 none;
	box-shadow: none;
	border-radius: 4px;
	webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon_bag, .icon_paper{
	padding-left: 25px;
	margin-bottom: 3px;
	height: 20px;
	line-height: 20px;
	background: url(img/icon_search_select.png) no-repeat;

}
.icon_bag{
	background-position: 1px -59px
}
.icon_paper{
	background-position: 1px -227px
}

/*page*/
.p_page{
	padding:30px 20px;
	text-align:center;
}
.p_page a{
	color:#333; 
	font-size:14px; 
	padding:0 5px;
}
.p_page a:hover{
	color:#23a3e0; 
	text-decoration:underline;
}
.p_page a.active{
	font-weight: bold;
	color: #06C;
	font-size:14px;
}

/*detail*/
.crumb{
	margin: 15px 0;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	background: #fff;
}
.layoutContain{
	padding: 10px 0 20px;
	background: #fff;
	margin-top: 15px;
}
.layout{
	padding: 30px;
}
.layout .personCon{
	text-align: center;
	margin-bottom: 20px;
}
.layout .personLogo{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.layout .personName{
	padding: 0 15px;
	font-size: 18px;
	font-weight: bold;
	line-height: 60px;
	display: block;
	text-align: center;
}

.layout .personLocat, .layout .releaseTime, .layout .personIphone, .layout .personEmail{
	padding: 0 25px 0 5px;
}
.layout .personLocat i{
	background: url(img/sprites_v2.png) no-repeat -234px -374px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	vertical-align: text-bottom;
}
.layout .releaseTime i{
	background: url(img/sprites_v2.png) no-repeat -256px -374px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	vertical-align: text-bottom;
}
.layout .personEmail i{
	background: url(img/sprites_v2.png) no-repeat -300px -373px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	vertical-align: text-bottom;
}
.layout .personIphone i{
	background: url(img/sprites_v2.png) no-repeat -278px -373px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	vertical-align: text-bottom;
}
.layout1{
	padding: 0 20px;
}
.layout table {
	padding: 20px;
	margin-bottom: 30px;
	width: 100%;
	border: 1px solid #e6e6e6;
}
.layout table tr{
	border: 1px solid #e6e6e6;
}
.layout table .tal{
	padding: 2%;
	text-align: center;
	width: 28%;
	border-right: 1px solid #e6e6e6;
	font-size: 16px
}

.layout table .tal i{
	font-size: 38px;
	display: block;
}

.layout table .bd{
	padding: 2%;
	text-align: left;
	width: 68%
}
.layout table .null{
	height: 15px;
}

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1503419512951'); /* IE9*/
  src: url('../font/iconfont.eot?t=1503419512951#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1503419512951') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1503419512951') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1503419512951#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-serve:before { content: "\e657"; }

.icon-flight:before { content: "\f017e"; }

.icon-xinglijicun:before { content: "\e705"; }

