.step_list{
	width: 1100px; 
	margin: 0 auto; 
	position: relative; 
	background: #fff; 
	zoom: 1; 
	margin-bottom: 20px;
}
.step_list:after{
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0;
}

.step_list .progress {
	font: 400 14px 'Microsoft Yahei';
	color: #666;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: #efefef;
	margin: 21px 0 0;
}

.step_list .progress li {
	width: 366px;
	float: left;
	position: relative;
}

.step_list .progress li a, .step_list .progress li b {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 34px;
	background: url(img/sprites_v2.png) -535px -377px;
}

.step_list .progress li a {
	left: 0;
	background-position: -525px -377px
}

.step_list .progress li.c {
	background: #108ee9;
	color: #fff;
}

.step_list .progress li.c a {
	background-position: -545px -377px;
}

.step_list .progress li.c b {
	background-position: -514px -377px;
}

.post{
	background: #fff;
	border: 1px solid #efefef;
	padding-bottom: 40px;
	min-height: 500px;
}

.form_title{
	background: #efefef;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 14px;
}
.form_content{
	padding: 15px;
}
.form_fields{
	overflow: hidden;
	margin: 20px 0;
}
.form_fields span{
	display: inline-block;
	float: left;
	margin-left:20px;
	padding: 5px;
	width: 70px;
	height:24px;
	line-height: 24px;
	border: 1px solid #d1dbe4;
	border-radius:3px;
	background: #fff;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.form_fields span:hover, .form_fields span:active, .form_fields span.cur{
	border:1px solid #108ee9;
}
.form_content .flight_attribute{
	float: none;
	margin:2px 5px 10px 20px;
}

.flight_attribute .dropDown{
	float: none;
	position:relative;
	top: 0;
	right: 0;
	z-index:3;
	padding:0 0 0 10px;
	width: 228px;
	height: 32px;
	line-height: 32px;
	display: inline-flex;
}
.flight_attribute .dropDown input{
	padding: 0;
	height: 32px;
	line-height: 32px;
}
.flight_attribute .dropDown .putIn{
	width: 228px;
}
.flight_attribute .dropDown .dropBtn{
	width: 228px;
	left: 0;
	height: 20px;
	line-height: 32px;
	background-position: 214px -190px;
}
.flight_attribute .dropDown .dropList{
	width: 238px;
	top: 32px;
}
.flight_attribute .first_line{
	font-size: inherit;
}
.flight_attribute input.fnum{
	padding-left: 10px;
	width: 223px;
}
.form_fields_con{
	margin: 30px 0;
}
.tc .con_btn{
	padding:0 50px;
	margin: 0 20px;
	font-size: 14px;
}
.form_content .budget_filter{
	padding-left: 20px;
}
.form_content .budget_filter .filter_title{
	margin-top: 15px;
}
.budget_filter .budget_filter .form_fields_con{
	margin: 0;
}
.budget_filter .flight_attribute{
	margin-left: 0;
}

/*提示*/
.tipsBox{position: fixed;z-index: 1000; left: 0;top: 0;right: 0;margin: auto;width: 290px;line-height: 20px;padding:20px 15px;background: #fff;border:5px solid #ccc;text-align: center;font-size: 14px;}
.tipsBox.true-c{color: #2f8bce}
.tipsBox.true-c span{background:url(img/true-i.png) 0 center no-repeat;padding-left: 30px;}
.tipsBox.false-c{color: #df526f;}
.tipsBox.false-c span{background:url(img/false-i.png) 0 center no-repeat;padding-left: 30px;}
