/* HotCity Data List */
body .autofill_wrap .list_arrow,body .autofill_wrap .list_arrow i,body .mNotice-arrows:after,body .mNotice-wrap .mNotice-arrows{display:none;}
div.autofill_wrap_large{box-shadow:0 2px 10px 0 rgba(0,0,0,.2);}
div.hotel_s_warp{margin:0;}
.searchMain{position:relative;margin:0 auto;width:1200px;font-size:14px;font-family:'Microsoft YaHei',serif;}
.abVisaDiv{position:relative;}
.w990 .searchMain{width:990px;}
.w990 .search_box{margin-left:0;}
.search_box{position:absolute;z-index:201;float:left;margin:-360px 0 0 5px;min-width:408px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
:root .search_box{border:0;}
.search_box>div{float:left;}
.search_left{width:68px;}
.search_left a{display:block;background-color:#475769;color:#fff;text-align:center;line-height:44px;cursor:pointer;}
.search_left .hotel_at{background-color:#fff;color:#333;}
:root .search_box:hover .search_right{box-shadow:5px 2px 8px -1px rgba(0,0,0,.15);}
.search_box .search_right{min-width:340px;min-height:352px;background:#fff;}
.search_box .search_right .tray{padding:15px 20px 0 20px;}
.tab_con_title{margin-bottom:20px;height:28px;border-bottom:1px solid #eee;}
.tab_con_title a,.tab_con_title li,.tab_con_title>span{float:left;margin-left:28px;height:100%;color:#666;text-align:center;cursor:pointer;}
.tab_con_title a:first-child,.tab_con_title li:first-child,.tab_con_title>span:first-child{margin-left:0;}
.tab_con_title .airpInter,.tab_con_title .at,.tab_con_title .hotelIn{height:27px;border-bottom:3px solid #00c77b;color:#00c77b;font-weight:700;}
.tab_con_title table{width:291px;}

input[type=button]::-moz-focus-inner{padding:0;border:0;}
.scenicBtn,.selfBtn{display:block;overflow:hidden;padding-top:20px;height:36px;}
.search_PT_btn,.search_btn,.search_submit{float:right;margin-right:1px;width:130px;height:34px;border:0;border-radius:2px;background:#ff5346;color:#fff;text-align:center;font-size:16px;line-height:34px;cursor:pointer;}
#hotelSubmit{float:right;width:120px;height:36px;border:0;border-radius:3px;background-color:#ff7800;color:#fff;text-align:center;font-size:16px;line-height:36px;cursor:pointer;}
#hotelSubmit:hover,.search_PT_btn:hover,.search_btn:hover,.search_btnHover,.search_submit:hover{background:#d9453b;color:#fff;}
.search_box .recom_list{margin-top:40px;}
.recom_dt,.search_box .recom_title{margin:15px 0 5px;height:12px;font-weight:700;font-size:12px;line-height:12px;}
.search_box .bustuan_cont .recom_title:first-child{margin-top:40px;}
.hot_dd,.recom_con{overflow:hidden;width:291px;}
.recom_con li,.recom_dd a{float:left;}
.recom_dd a,.search_box .recom_con a{display:inline-block;margin-right:20px;color:#666;font-size:12px;}
.recom_con a:hover,.recom_dd a:hover,.scenery_search_city_more .rBox_top_r .ct a:hover{color:#ff5d3d;}
.recom_con a.col_ff68{color:#ff5d3d;}
.view_cont .recom_con{overflow:hidden;margin-top:0;height:20px;}
#seSceDes,#seSceDes1{overflow:hidden;width:247px;}
.search_box a.c_search_hotCitysty{color:#ff5d3d;}
#bustuanSearch{margin-bottom:25px;}
.tray dd.hot_dd{max-height:76px;}
#busTj,#busTj1,#bustuanDes,#bustuanDes1,#bustuanTj,#bustuanTj1,.recom_dd{overflow:hidden;width:300px;max-height:40px;}
.scenery_search_city_more .rBox_top_r .item .ct{width:390px;}
.scenery_search_city_more .rBox_top_r .tt{display:inline-block;width:36px;color:#f60;text-align:left;font-weight:700;font-size:14px;}
.scenery_search_city_more .rBox_top_r a{float:left;line-height:20px;}
body .scenery_search_city_more .rBox_top_r .ct_hot{width:386px;}
.scenery_search_city_more .rBox_top_r .ct a{overflow:hidden;margin:0 21px 6px 0;width:50px;height:20px;color:#333;text-align:left;text-overflow:ellipsis;white-space:nowrap;line-height:20px;}
.scenery_search_city_more .rBox_top_r .item .ct a{margin:0 15px 6px 0;}
body .scenery_search_city_more .rBox_top_r .ct_hot a{width:3.2em;}
.errMasBorder{position:absolute;z-index:1001;display:none;background:#ffebea;}
#busTMasErr1,#busTMasErr11,#busTMasErr2,#busTMasErr21,#scenicMasErr1,#scenicMasErr11,#zzyMasErr,#zzyMasErr1{left:49px;min-width:250px;}
#holidayMasErr1{margin-top:-27px;}
.errMasBorder .rgtSpan{display:inline-block;padding:6px;color:#ff5346;font-size:12px;line-height:18px;}
.dimCity{position:absolute;z-index:999;}
.six_iframe{position:absolute;top:5px;left:0;z-index:10;width:360px;border:0!important;opacity:0;filter:Alpha(Opacity=0);}
.soso_h_tbl{position:absolute;z-index:99;padding-top:5px;width:220px;border:1px solid #ddd;background:#fff;box-shadow:0 0 16px 2px rgba(0,0,0,.2);color:#666;font-size:12px;}
#dimCity1 .soso_h_tbl{top:12px;}
:root .selfInfo_list,:root .soso_h_tbl,:root .soso_tbl{border:0;}
.selfInfo_list,.soso_tbl{position:absolute;z-index:99;padding-bottom:10px;width:250px;border:1px solid #ddd;background:#fff;box-shadow:0 0 10px 1px rgba(0,0,0,.2);color:#666;font-size:12px;}
#selfInfo_list,#selfInfo_list1{top:30px;left:48px;display:none;}
:root .soso_tbl{border:0;}
.soso_tbl .tbl_td1{padding-top:4px;padding-bottom:4px;border-bottom:1px #ddd solid;color:#999;}
.soso_tbl .tbl_td11{border-bottom:1px #ddd dashed;color:#333;font-weight:700;font-size:14px;}
.search_list_left{float:left;display:inline-block;overflow:hidden;width:168px;text-overflow:ellipsis;white-space:nowrap;}
.search_list_right{float:right;display:inline-block;overflow:hidden;width:48px;color:#999;text-align:right;}
.soso_tbl .noResult{padding-top:7px;padding-bottom:6px;}
.soso_tbl .tbl_none{display:none;}
.selfInfo_list li,.selfRelDiv #selfInfo_list ul li,.soso_tbl td{display:block;padding:4px 10px;white-space:nowrap;line-height:18px;}
.soso_tbl img{float:left;padding-top:4px;width:9px;height:11px;}
.soso_tbl .aOut{color:#333;cursor:pointer;}
.soso_tbl .aOut1{cursor:pointer;}
.abPlayInfo_list .hover,.selfInfo_list .hover,.soso_tbl .aHover,.soso_tbl .aHover1{background:#f5f5f5;color:#333;cursor:pointer;}
.soso_tbl .aHover1{background:#eee;cursor:pointer;}
.soso_tbl .td_lef{text-align:left;}
.soso_tbl .td_lef:after{clear:both;display:block;visibility:hidden;height:0;content:'.';line-height:0;}
.soso_tbl .td_rgt{text-align:right;}
.selfRelDiv{position:relative;z-index:12;}
.dos{padding:2px 0 2px 20px;background:url(//pic4.40017.cn/index/slide/2016/05/12/08/ILntTA.png) no-repeat;color:#999;font-size:12px;}
.dos-scenery{background-position:0 2px;}
.dos-destination{background-position:0 -26px;}
.dos-theme{background-position:0 -56px;}
#tbl_dimCity300 a,.selfInfo_list a{display:inline-block;width:100%;color:#333;}
.selfInfo_list ul li div,.selfRelDiv #selfInfo_list ul li div{padding:2px 0 2px 20px;background:url(//pic4.40017.cn/index/slide/2016/05/12/08/ILntTA.png) no-repeat;color:#999;font-size:12px;font-family:'Microsoft YaHei';}
.selfInfo_list ul li.searchTitle div{cursor:context-menu;}
.selfInfo_list ul li div.type_1{background-position:0 2px;}
.selfInfo_list ul li div.type_2{background-position:0 -26px;}
.selfInfo_list ul li div.type_Hotel{background-position:0 -85px;}
.selfInfo_list ul,.selfRelDiv #selfInfo_list ul{padding:0;background:0;}
.selfInfo_list ul li div,.selfRelDiv #selfInfo_list ul li div{display:block;overflow:hidden;padding:0 0 0 20px;height:auto;line-height:18px;}
.selfInfo_list li.selected{background-color:#eee;}
.selfInfo_list .searchTitle:hover{background:#fff;cursor:default;}
.selfRelDiv #selfInfo_list ul li div.type_2{background-position:0 -28px;}
.selfRelDiv #selfInfo_list ul li div.type_1{background-position:0 1px;}
.selfRelDiv #selfInfo_list ul li div.type_Hotel{background-position:0 -87px;}
.selfRelDiv #selfInfo_list ul li div{cursor:default;}
.tab_hotel_con .list,.tab_hotel_con .list_btn_search{padding-bottom:20px;width:300px;height:32px;line-height:32px;}
.searchbox-mini .list{padding-bottom:12px;}
.SearthBody .list{padding-bottom:15px;}
.tab_hotel_con .list .list_tit{float:left;margin-right:10px;width:56px;color:#666;text-align:right;}
.tab_airplane_con .list_btn_search .list_con,.tab_hotel_con .list .list_con,.tab_hotel_con .list_btn_search .list_con{position:relative;float:left;}
.tab_hotel_con .list .list_con .input02{width:227px;}
#come_week,#leave_week,#tab_top_hotel .date_dl .list_con span{position:absolute;top:2px;right:10px;color:#999;font-size:12px;}
#otherCtyList{display:none;}
.tab_hotel_con .have_history .list_con .input02{width:147px;}
.tab_hotel_con .have_history .search_history_btn{position:relative;z-index:200;float:right;margin-top:2px;padding:0 20px 0 8px;height:28px;border:1px solid #fff;background-color:#fff;background-position:60px -158px;color:#666;font-size:12px;line-height:28px;cursor:pointer;}
:root .tab_hotel_con .have_history .search_history_btn{border:0;}
:root .tab_hotel_con .have_history .search_history_btn_up{border:0;box-shadow:0 -5px 10px -1px rgba(0,0,0,.15);}
.tab_hotel_con .have_history .search_history_btn_up{border:1px solid #ddd;border-bottom:0;background-position:60px -185px;}
.tab_hotel_con .have_history .his_cityList{position:absolute;top:94px;right:20px;z-index:10;border:1px solid #ddd;background:#fff;}
:root .tab_hotel_con .have_history .his_cityList{border:0;box-shadow:0 -2px 10px 0 rgba(0,0,0,.2);}
.tab_hotel_con .have_history .his_cityList li{overflow:hidden;padding:0 6px 0 10px;height:30px;white-space:nowrap;font-size:12px;line-height:30px;cursor:pointer;}
.tab_hotel_con .have_history .dt_span{float:right;padding-left:10px;height:30px;}
.tab_hotel_con .have_history li .zhi{padding:0 3px;}
.tab_hotel_con .have_history li .cname{float:right;height:30px;}
.pt_hotel_search .come_date_dl .tips2,.pt_hotel_search .hotel_cont .search_btn,.pt_hotel_search .otcitylist,.pt_hotel_search .other_link{display:none;}
.btn_search .list_con,.list_btn_search .list_con{display:block;width:100%;height:36px;}
#hotelSubmit{margin-top:8px;}
.hotel_s_warp .mNotice-tray,:root .hotel_s_warp,:root .hotel_s_warp .mNotice-mTab-head,:root .hotel_s_warp .mNotice-tray,:root .mNotice-mTab-wrap{border:0;}
body .mNotice-wrap,div.hotel_s_warp{box-shadow:0 0 16px 2px rgba(0,0,0,.2);}
body .mNotice-wrap{display:none;width:auto;}
body .mNotice-mTab-head{padding:10px 10px 0 20px;border:1px solid #9b9b9b;background-color:#fff;color:#999;font-weight:400;}
:root body .mNotice-mTab-head{border:0;}
.mNotice-mTab-tab-tray li.current,li.mNotice-mTab-item{float:left;font-weight:500;cursor:pointer;}
div.mNotice-tray{border:1px solid #9b9b9b;background:#fff;}
body .mNotice-mTab-tab-tray{margin-top:0;}
.hotel_s_warp .mNotice-tray .mNotice-head{padding-bottom:5px;border:0;font-weight:500;}
.mNotice-tray .mNotice-normal{margin-top:5px;padding:0 5px;height:22px;color:#666;line-height:22px;}
.mNotice-mTab-wrap .mNotice-mTab-content .mNotice-normal{display:inline-block;overflow:hidden;margin:0 21px 6px 0;padding:0;width:55px;height:20px;border:0;color:#333;text-overflow:ellipsis;white-space:nowrap;line-height:20px;cursor:pointer;}
.mNotice-mTab-wrap .mNotice-mTab-content .mNotice-def .mNotice-normal{margin:0 15px 6px 0;}
.mNotice-mTab-wrap .mNotice-mTab-content .mNotice-click{color:#00c77b;}
.mNotice-mTab-wrap .mNotice-mTab-content .mNotice-hover{background:0;color:#ff5d3d;}
.gnycitylist .gny_close,body .autofill_close,body .mNotice-wrap .mNotice-close{top:10px;right:10px;width:11px;height:11px;background-position:0 -230px;}
.gnycitylist .gny_close{position:absolute;cursor:pointer;}
.mNotice-wrap .mNotice-mTab-wrap{padding:2px 3px 10px 20px;}
.notice_history{margin:0 35px 4px 0;color:#999;}
.notice_history a{margin-left:10px;color:#999;}
body .mNotice-mTab .mNotice-mTab-wrap .mNotice-mTab-tab-tray .current{border:0;border-bottom:2px solid #00c77b;color:#00c77b;font-weight:700;}
.hotel_s_warp .mNotice-mTab-tab-tray{width:415px;height:31px;border-bottom:1px solid #eee;}
.hotel_s_warp .mNotice-mTab-tab-tray .mNotice-mTab-item{margin-left:31px;padding:0;height:30px;border:0;color:#666;font-weight:500;line-height:30px;}
.hotel_s_warp .mNotice-mTab-tab-tray .mNotice-mTab-item:first-child{margin-left:0;}
body .iflight_s_wap .mNotice-mTab-tab-tray .mNotice-mTab-item{margin-left:29px;}
.mNotice-mTab-content{padding-top:10px;border:0;}
.none{display:none;}
.hotel_s_warp .ihotelplace{padding:0 30px 10px 20px;width:554px;}
.hotel_s_warp .ihotelplace .mNotice-head{float:left;margin:0;padding:15px 0 0 0;width:70px;height:22px;font-weight:700;line-height:22px;}
.hotel_s_warp .ihotelplace .mNotice-content{float:left;margin:0 0 0 -20px;padding:15px 0 0 0;width:480px;}
.hotel_s_warp .mNotice-mTab-content{padding:10px 0 5px 0;width:430px;}
.hotel_s_warp .ihotelplace .mNotice-normal{display:inline-block;margin:0 0 3px 20px;padding:0;height:22px;line-height:22px;}
.hotel_s_warp .mNotice-title{padding:0;width:38px;text-align:left;font-weight:700;font-size:14px;}
.hotel_s_warp .mNotice-def{width:390px;}
body .mNotice-mTab-content .mNotice-normal{margin:0;padding:2px 13px;max-width:6em;}
body .mNotice-tray .mNotice-hover{color:#ff5d3d;text-decoration:none;}
body .mNotice-wrap{position:absolute;top:322px;left:126px;z-index:2000;width:auto;background:#fff;}


/* SearchCity Data List */
.city_s_warp{display:none;position: absolute;top: 322px; left: 126px; z-index: 2001; }
.com_results{width:300px;padding:3px;margin:0px;z-index:100;font-size:12px;border:#C5C5C5 solid 1px;background:#FFF;box-shadow:2px 2px 6px 0px rgba(0,0,0,0.2);color:#555;}
.com_results ul {width:100%;list-style-position:outside;list-style:none;padding:0;margin:0;}
.com_results li {margin:0px;padding:4px 5px;height:20px;cursor:pointer;display:block;font-size:12px;line-height:20px;overflow:hidden;text-align:left;}
.com_results .nofind{padding-left: 5px;color: red;line-height: 30px;}